<%- include('../blocks/head') %>
<body>
  <%- include('../blocks/header') %>
  <main>
    <div class="reset-container">
      <h1>Update Password</h1>
      <form action="/newpassword" method="POST">
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" id="password" required>
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= token %>">
        <button class="btn" type="submit">Update Password</button>
      </form>
    </div>
  </main>
  <%- include('../blocks/footer') %>
  <%- include('../blocks/end') %>
</body>
