<%-include('../blocks/head')%>
<body>
    <%-include('../blocks/header')%>
<main>
    <form class="login-container" action="/newpassword" method="POST">
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= token %>">
        <button class="btn" type="submit">Update Password</button>
    </form>
</main>
</body>
<%-include('../blocks/footer')%>
<%-include('../blocks/end')%>