<%- include('../blocks/head') -%>
</head>
<body>
  <%- include('../blocks/header') -%>
<div class="form-container">
  <form action="/profile/<%= userId %>userPost" method="POST">
    <input
      type="text"
      class="title"
      name="title"
      placeholder="Enter the title"
    />
    <input type="text" class="text" name="text" placeholder="Enter the text" />
    <button type="submit" class="add-posts-button">Add</button>
  </form>
</div>
<%- include('../blocks/footer') -%>
<%- include('blocks/end') -%>