<%- include('blocks/head') -%>
</head>
<body>
    <%- include('blocks/header') -%>
    <div class="posts">
        <% posts.forEach(post => { %>
            <div class="post-container">
                <div class="post" id="<%= post._id %>">
                    <h2><%= post.title %></h2>
                    <p><%= post.text %></p>
                    <span>User: <%= post.username %></span><br>
                </div> 
            </div>
        <% }) %>
    </div>
   
    <%- include('blocks/pagination')%>
    <%- include('blocks/footer') -%>
    <%- include('blocks/end') -%>
